* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    background: #a2d8f4;
    padding: 15px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: #fff;
    font-size: 24px;
}

.details {
    display: flex;
    list-style: none;
    gap: 25px;
    position: relative;
}

.details li {
    color: #2a2828;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.details li:hover {
    color: #e60707;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    list-style: none;
    padding: 10px 0;
    min-width: 150px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
}

.details li:hover .dropdown {
    display: block;
}

.dropdown li {
    padding: 10px 20px;
    color: #333;
    font-size: 16px;
    white-space: nowrap;
}

.dropdown li:hover {
    background: #e8adec;
    color: #0b0505;
}

.search {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    padding: 5px 10px;
}

.search i {
    color: #888;
    margin-right: 8px;
}

.search input {
    border: none;
    outline: none;
    font-size: 14px;
}

.add {
    font-size: 20px;
    position: relative;
    left: 50px;
}

.add>i {
    position: relative;
    bottom: 20px;
    left: 30px;
    font-size: 25px;
}

.add:hover {
    color: #f31212;
}

.add i {
    color: black;
}

.login {
    font-size: 20px;
    position: relative;
    right: 50px;
}

.login>i {
    position: relative;
    bottom: 20px;
    left: 30px;
    font-size: 25px;
}

.login:hover {
    color: #f31212;
}

.login i {
    color: black;
}

img {
    position: relative;
    right: 50px;
    width: 200px;
}

.slides {
    position: relative;
    left: 350px;
    width: 550px;
    height: 350px;
    overflow: hidden;
    border-radius: 12px;
    margin-top: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.slide-bar {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide-bar img {
    width: 600px;
    height: 480px;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 10px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.btn:hover {
    background: rgba(0, 0, 0, 0, 8)
}

.video-container {
    margin-top: 40px;
    margin-left: 80px;
    width: 90%;
    height: 80vh;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.winter-sale {
    border: 2px rgb(59, 215, 233);
    margin-top: 20px;
    height: 500px;
}

.Winter-images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.Winter-images img {
    width: 380px;
    height: 400px;
    position: relative;
    left: 5px;
    object-fit: cover;
    overflow: hidden;
}
.Winter-images :hover{
    transform: scale(0.9);
}

.heading {
    position: relative;
    left: 400px;
    font-size: 25px;
    margin-top: 10px;
    color: rgb(13, 3, 14);
}

.para-details {
    display: flex;
    justify-content: space-between;
}

.para {
    position: relative;
    left: 120px;
    margin-top: 10px;
    font-size: 18px;
}

.para1 {
    position: relative;
    right: 20px;
    font-size: 18px;
    margin-top: 10px;
}

.para2 {
    position: relative;
    right: 140px;
    margin-top: 10px;
    font-size: 18px;
}

#btn {
    width: 122px;
    height: 50px;
    position: relative;
    left: 150px;
    bottom: 5px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: #0b0505;
}

#btn1 {
    width: 122px;
    height: 50px;
    position: relative;
    left: 550px;
    bottom: 5px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: #0b0505;
}

#btn2 {
    width: 122px;
    height: 50px;
    position: relative;
    left: 900px;
    bottom: 5px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: #0b0505;
}
#btn:hover,#btn1:hover,#btn2:hover{
        background-color:red;
        transform: scale(1.1);
}

.top-wear {
    border: 2px rgb(59, 215, 233);
    margin-top: 20px;
    height: 500px;
}

.topwear-images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.topwear-images img {
    width: 380px;
    height: 400px;
    position: relative;
    left: 5px;
    object-fit: cover;
    overflow: hidden;
}
.topwear-images :hover{
    transform:scale(0.9);
}
.Accessories{
    border: 2px rgb(59, 215, 233);
    margin-top: 20px;
    height: 500px;
}
.acc-images{
     margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.acc-images img{
     width: 380px;
    height: 400px;
    position: relative;
    left: 5px;
    object-fit: cover;
    overflow: hidden;
}
.acc-images :hover{
   transform: scale(0.9);
}
